<p id="notice"><%= notice %></p>

<div class="grid">
 <h1>Pins</h1>
  <% @pins.each do |pin| %>
<div class="grid-item" style="width: 20%">
  <div class="thumbnail">
    <%= pin.name %>
    <%= image_tag( pin.photo, :class => 'img-responsive') %>
    <%= pin.description %>
     <div class="buttons", style="margin-top:10px; margin-bottom:10px ">
       <% if current_user.nil? %>
        <%= link_to 'Show', pin , :class => 'btn'%>
       <% else %>
        <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
        <%= link_to 'Destroy', pin, :method=> :delete, data: { confirm: 'Are you sure?' }, :class => 'btn'  %>
       <% end %>
           </div>
   </div>
</div>
    <% end %>
<br>
<%= link_to 'New Pin', new_pin_path %>
</div>

<script type="text/javascript">
    var elem = document.querySelector('.grid');
    var msnry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
    });
$(window).load(function(){
    var elem = document.querySelector('.grid');
    var msnry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
    });
})
</script>